<h2> <%= @routine.name %> </h2>

<%= button_to "Add Work Out", new_routine_machine_path(@routine), :method => :get %> 
<br>
<%if @routine.weights.empty? %> 
    <br>
    There are no workouts for this routine. Please add a new workout for this routine. 

<% else %>
    
    <% @routine.weights.each do |x| %>

    
            <h3><%= link_to x.machine.name, edit_routine_machine_path(@routine, x.machine) %></h3>
            Weight Lifted: <%= x.weight %> kg<br>
            Sets: <%= x.machine.sets %><br>
            Repetitions: <%= x.machine.repetitions %><br>

    <br>
    <br>
    <% end %>

<% end %>