<h2> <%= @routine.name %> </h2>

<%= link_to "Edit Routine Name", edit_routine_path(@routine), :method => :get %>
<br>
<br>
<%= button_to "Add Work Out", new_routine_machine_path(@routine), :method => :get %> 
 

<%if @routine.weights.empty? %> 
    <br>
    There are no workouts for this routine. Please add a new workout for this routine. 

<% else %>

    <% @routine.weights.each do |x| %>

        <%if !x.machine.nil? %>
            <h3><%= link_to x.machine.name, edit_routine_machine_path(@routine, x.machine) %></h3>
            Weight Lifted: <%= x.weight %> kg<br>
            Sets: <%= x.machine.sets %><br>
            Repetitions: <%= x.machine.repetitions %><br>

            <%= button_to "Delete Work Out", routine_machine_path(@routine, x.machine), :method => :delete %>
        <% end %>
    <% end %>

<% end %>