<%= form_for [@routine, @machine] do |f| %>

<h2>Add a New Workout</h2>

<br>
  
  Workout Machine Name: <div class="fields_with_errors"><%= f.text_field :name %></div><br>
  Repetitions: <div class="fields_with_errors"><%= f.text_field :repetitions %><div><br>
  Sets: <div class="fields_with_errors"><%= f.text_field :sets %></div><br>

<%= f.fields_for :weights, @weight do |weights_form| %>
    Weights:  <div class="fields_with_errors"><%= weights_form.text_field :weight %></div>
    <%= weights_form.hidden_field :routine_id, :value => @routine.id %>
    <%= weights_form.hidden_field :machine_id, :value => @machine.id %>
<% end %>

<br>  
<br>
<%= f.submit "Add Workout" %>

<% end %>