
<% if @machine.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@machine.errors.count, "error") %>
      this action could not be completed due to:
    </h2>
 
    <ul>
    <% @machine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@routine, @machine] do |f| %>

<h2>Add a New Workout</h2>
  
<br>

  Workout Machine Name: <%= f.text_field :name %><br>
  Repetitions: <%= f.text_field :repetitions %><br>
  Sets: <%= f.text_field :sets %><br>

<%= f.fields_for :weights, @weight do |weights_form| %>
    Weights:  <%= weights_form.text_field :weight %>
    <%= weights_form.hidden_field :routine_id, :value => @routine.id %>
    <%= weights_form.hidden_field :machine_id, :value => @machine.id %>
<% end %>

<br>  
<br>

<%= f.submit "Add Workout" %>

<% end %>